name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs every day
  workflow_dispatch:      # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Push generated files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate Snake"
          file_pattern: dist/*
